.w-full lg:flex lg:items-center lg:w-auto {
    transition: max-height 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    .text-sm {
      font-size: 14px;
    }
  }
  button:hover svg {
    fill: #333;
  }

  @media screen and (max-width: 450px) {
    .text{
      font-size: 18px;
      margin-top: -120px;
      margin-left: 20%;
    }
    .blob{
      width: 100px;
      height: 150px;
      margin-top: -45px;
    }
    .cta{
      height: 725px;
    }

    .cta h1{
      font-size: 28px;
      margin-top: 5px;
      margin-left: 23px;
    }

    .cta p{
      font-size: 16px;
      margin-top: 15px;
      margin-left: 8%;
      width: 70%;
    }

    .cta button{
      margin-left: 20%;
    }
    .image1{
      margin-top: 130px;
      width: 80%;
      margin-left: 10%;
      border-radius: 12px;
    }
  }